.metadata {
  dt {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-weight: bold;

    &:first-of-type {
      margin-top: 0;
    }
  }
  dd {
    margin-left: 40px;

    p {
      margin-top: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
