.outer {
  height: calc(80vh - 120px);
  width: 100%;
}

.splitDisplay {
  display: inline-block;
  height: 100%;
  margin: 0 15px;
  overflow: hidden;
  width: calc(50% - 30px);
}

.splitDisplayInner {
  width: 100%;
  height: 100%;
}
