.wrapper {
  height: 100%;
  position: relative;
  text-align: center;
}

.flexwrapper {
  align-self: auto;
  width: 32%;

  img {
    height: auto;
    width: 100%;
  }

}

.title {
  position: absolute;
  top: 0;
  color: white;
  text-shadow: 2px 2px #000000;
  font-size: 16px;
  font-weight: normal;
  background-color: rgba(66, 66, 66, 0.4);
  margin: 0;
  padding: 10px 20px;
}
