.outer {
  background-color: #444;
  width: 100%;
  height: 100%;
}

.viewer {
  width: 100%;
  height: calc(100% - 56px);
}

.navigationOuterWrapper {
  position: absolute;
  bottom: 50%;

  .leftNav, .rightNav {
    background-color: #f0f0e1;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    opacity: 0.5;
    position: absolute;
    text-align: center;

    &:hover {
      opacity: 1.0;
    }
  }

  .leftNav {
    left: 10px;
  }

  .rightNav {
    right: calc(10px - 100vw);
  }
}
